* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@font-face {
    font-family: "campton";

    src: url(./image/Campton-BoldDEMO.otf);
}

@font-face {
    font-family: 'pingfang';
    src: url(./image/PingFang.ttc);
}

#nav {
    width: 100%;
    top: 0;
    position: fixed;
    background-color: white;
    transition: top 0.8s;
    
}


.Align {
    height: 80px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.nav-content{
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    z-index: 999;
}



#nav a {
    text-decoration: none;
    font-family: "campton";
    font-weight: bold;
    color: #191919;
    font-size: 13px;
    
    max-width: 960px;

}

#nav .Prev {
    padding: 0 24px 0 0;
}


#zuopin {
    width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}