* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
}



@font-face {
    font-family: "campton";
    src: url("../image/Campton-BoldDEMO.otf");
}

@font-face{
    font-family: "campton-light";
    src: url("../image/Campton-LightDEMO.otf");
}

@font-face{
    font-family: "roboto";
    src: url("../image/Roboto-Regular.ttf");
}

@font-face{
    font-family: "roboto-light";
    src: url("../image/Roboto-Light.ttf");
}


#nav {
    width: 100%;
    top: 0;
    position: fixed;
    background-color: white;
    transition: top 0.8s;
    z-index: 99;
    box-shadow: 0 0 1px 0 #E6E6E6;
}


.Align {
    height: 80px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    
    z-index: 999;
}



#nav a {
    text-decoration: none;
    font-family: "campton-light";
    font-weight: 100;
    color: #999999;
    font-size: 16px;
    max-width: 960px;
}



#nav .Prev {
    padding: 0 32px 0 0;
}

#nav .Prev:hover {
    color: #1A1A1A;
}

#nav .Next:hover {
    color: #1A1A1A;
}

#nav .home a {
    font-size: 16px;
    font-weight: bold;
    color: #1A1A1A;
    font-family: "campton";
}

#title{
    margin: 120px auto ;
    width: 960px;
    height: 176px;
    position: relative;
}


.title-image{
    margin: 240px auto 0;
    width: 960px;
    display: flex;
    flex-direction: column;
}




#title p{
    position: absolute;
    font-size: 40px;
    font-weight: 100;
    color: #ADADAD;
    line-height: 56px;
    max-width: 360px;
    margin: 0 0 0 600px ;
    
}



#title .small-title{
    font-size: 15px;
    margin-top: 120px;
    
    color: #212121;
    font-family: "roboto";

}


.line{
    display: block;
    width: 960px;
    height: 1px;
    background-color: #EDEDED;
    margin: 72px auto 0;
}






#zuopin {
    width: 960px;
    margin: 240px auto 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 1;

}

.last-line{
    width: 960px;
    height: 1px;
    background-color: #eaeaea;
    display: block;
    margin: 0 auto;
}




.line4px{
    width: 960px;
    height: 4px;
    background-color: #212121;
    display: block;
    margin: 120px auto;
}

.end-div{
    width: 960px;
    margin: 0 auto;
}


.end{
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    color: #ADADAD;
}




#contact {
    width: 960px;
    margin: 120px auto;
}

#contact .line {
    width: 960px;
    height: 1px;
    background-color: #EDEDED;
    display: block;
}

#contact .Align-contact {
    position: relative;
}

#contact .title-name {
    position: absolute;
}

#contact .info {
    margin: 80px 0 120px 240px;
}

.title-name .name {
    font-size: 15px;
    color: #212121;
    font-weight: 400;
    line-height: 28px;
}

.title-name .title {
    font-size: 15px;
    color: #959595;
    font-weight: 300;
    line-height: 28px;
    margin: 4px 0 0 0;
}

.info .info-contact {
    font-size: 15px;
    color: #212121;
    font-weight: 400;
    line-height: 28px;
}

.emailphone {
    font-size: 15px;
    color: #B2B2B2;
    font-weight: 300;
    line-height: 28px;
    font-family: "roboto-light";
    margin: 4px 0 0 0;
}


#button {
    display: inline-block;
    background-color: white;
    width: 72px;
    height: 72px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    transition: .3s ease-out;
  }
  
  
  
  #button:hover {
    cursor: pointer;
    background-color: white;
    transform: scale(1.1);
    transition: .5s ease-out;
  }
  
  
  
  #button.show {
    opacity: 1;
    visibility: visible;
  }
  